
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
}

.logo p {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

.header__block {
    width: 80%;
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links {
    display: flex;
    align-items: center;
}



.header__link__block {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-right: 41px;
    width: 354px;
    height: 64px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.avatar {
    width: 59px;
    height: 59px;
}