{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <div class="slider">
        <div class="slider__block">
            <img src="../static/images/slider.png" alt="slider">
        </div>
    </div>
    <div class="topical">
        <h1>САМЫЕ АКТУАЛЬНЫЕ ЗАЯВКИ:</h1>
        <div class="topical__blocks">
            <div class="topical__block">
                <img src="../static/images/dog.png" alt="photo_topic">
                <h1>Доги на корм</h1>
                <p>Собрано</p>
                <p>5000/10000</p>
                <div class="topical__block__line">
                    <div class="topical__block__line__procent"></div>
                </div>
                <a href="###"><div class="topical__button">
                    ПОЖЕРТВОВАТЬ
                </div></a>
            </div>
            <div class="topical__block">
                <img src="../static/images/dog.png" alt="photo_topic">
                <h1>Доги на корм</h1>
                <p>Собрано</p>
                <p>5000/10000</p>
                <div class="topical__block__line">
                    <div class="topical__block__line__procent"></div>
                </div>
                <a href="###"><div class="topical__button">
                    ПОЖЕРТВОВАТЬ
                </div></a>
            </div>
            <div class="topical__block">
                <img src="../static/images/dog.png" alt="photo_topic">
                <h1>Доги на корм</h1>
                <p>Собрано</p>
                <p>5000/10000</p>
                <div class="topical__block__line">
                    <div class="topical__block__line__procent"></div>
                </div>
                <a href="###"><div class="topical__button">
                    ПОЖЕРТВОВАТЬ
                </div></a>
            </div>
            <div class="topical__block">
                <img src="../static/images/dog.png" alt="photo_topic">
                <h1>Доги на корм</h1>
                <p>Собрано</p>
                <p>5000/10000</p>
                <div class="topical__block__line">
                    <div class="topical__block__line__procent"></div>
                </div>
                <a href="###"><div class="topical__button">
                    ПОЖЕРТВОВАТЬ
                </div></a>
            </div>
        </div>
    </div>
{% endblock %}