<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/registration.css">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <div class="header__block">
            <div class="logo">
                <p>CHARITY ALMATY</p>
            </div>
            <div class="header__links">
                <a href="###"><div class="header__link__block" style="background-color: #37D0D0;">
                    ПОДАТЬ ЗАЯВКУ НА ПОМОЩЬ
                </div></a>
                <a href="###"><div class="header__link__block" style="background-color: #43EC9B;">
                    ПОДДЕРЖАТЬ ФОНД
                </div></a>
                <div class="header__link__profile">
                    <a href="###"><img src="../static/images/avatar.png" alt="avatar" class="avatar"></a>
                </div>
            </div>
        </div>
    </header>
    <div class="main__block">
        <div class="main__block__left">
            <h1>РЕГИСТРАЦИЯ</h1>
            <img src="../static/images/regist.png" alt="registr">
        </div>
        <div class="main__block__right">
            <form action="#">
                <div class="form__data">
                    <img src="../static/images/person.png" alt="login_icon">
                    <input type="text" placeholder="Логин">
                </div>
                <div class="form__data">
                    <img src="../static/images/email.png" alt="email_icon">
                    <input type="email" placeholder="Почта">
                </div>
                <div class="form__data">
                    <img src="../static/images/password.png" alt="password_icon">
                    <input type="password" placeholder="Пароль">
                </div>
                <div class="form__data">
                    <img src="../static/images/password.png" alt="password]_icon">
                    <input type="password" placeholder="Повторите пароль">
                </div>
                <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
            </form>
        </div>
    </div>
</body>
</html>