{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <div class="main__block">
        {% for cat, msg in get_flashed_messages(True) %}
            <h1 class="{{cat}}">{{msg}}</h1>
    {% endfor %}
        <div class="main__block__left">
            <h1>РЕГИСТРАЦИЯ</h1>
            <img src="../static/images/regist.png" alt="registr">
        </div>
        <div class="main__block__right">
            
            <form action="/registration", method="POST">
                {{ form.hidden_tag() }}
                <div class="form__data">
                    <img src="../static/images/person.png" alt="login_icon">
                    {{ form.name }} Логин
                </div>
                <div class="form__data">
                    <img src="../static/images/email.png" alt="email_icon">
                    {{ form.email }}  email
                </div>
                <div class="form__data">
                    <img src="../static/images/password.png" alt="password_icon">
                    {{ form.psw }} password
                </div>
                <div class="form__data">
                    <img src="../static/images/password.png" alt="password]_icon">
                    {{ form.psw2 }} password_two
                </div>
                {{ form.submit }} <br>
                <a href="{{url_for('login')}}" class="link__enter">Уже есть аккаунт? Войти</a>
            </form>
        </div>
    </div>
{% endblock %}